TELEGRAM_API_ID='YOUR_API_ID_HERE'
TELEGRAM_API_HASH='YOUR_API_HASH_HERE'
TELEGRAM_PHONE_NUMBER='+1234567890'
TELEGRAM_TARGET_CHAT='@YourTargetChatOrDisplayName'
GEMINI_API_KEY='YOUR_GEMINI_API_KEY_HERE'
